@import "~antd/dist/antd.css";

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-ExtraBold.ttf");
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.load-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
