@import "~antd/dist/antd.css";

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/Nunito Sans/NunitoSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}