@import "~antd/dist/antd.css";
/* Import the fonts locally at some point */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
