@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f5f8;
}

.load-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  left: 20px;
  top: 20px;
}
@media (max-width: 450px) {
  .bm-burger-button {
    width: 26px;
    height: 20px;
  }
}
@media (max-width: 380px) {
  .bm-burger-button {
    width: 16px;
    height: 10px;
  }
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */

/* Color/shape of close button cross */

/* General sidebar styles */
.bm-menu {
  height: 100vh;
}
/* Morph shape necessary with bubble or elastic */

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
